
<!DOCTYPE html>
<meta charset="UTF-8"/>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
    <body>
        <section>
            <span> Olá <span th:text="${name}"></span>, Seja bem vindo ao nosso sistema!</span>
            <br>
            <span>Suas credenciais de acesso, são:</span><br>
            <span> Número da conta: <span th:text="${account}"></span></span><br>
            <span> Senha: <span th:text="${password}"></span></span>

        </section>
    </body>
</html>
